:root {
  --color-primary: ;
  --color-bg-gray: rgb(249, 249, 249);
  --color-white: rgb(253, 253, 253);
  --color-gray-dark-1: rgb(213, 212, 212);
  --color-text-gray: rgba(113, 113, 113, 1);
  --color-black: rgb(0, 0, 0);

  --color-red: rgb(230, 29, 44);
  --color-red-transparent: rgba(230, 29, 44, 0.05);
  --color-transparent: transparent;

  background-color: var(--color-bg-gray);
}
body {
  position: relative;
}
/* HEADER */
.header {
  max-width: 1140px;
  height: 70px;
}
.wrapper {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-dark-1);
}
.wrapper > .header {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header__section {
  flex: 1 1 0px;
}
.header > nav.header__logo > img {
  width: 48px;
  max-height: auto;
}

.header > nav.header__navigation > ul {
  display: flex;
  gap: 24px;
}

.header > nav.header__navigation > ul > li {
  color: var(--color-text-gray);
}

.header > nav.header__account > div {
  width: max-content;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;
  z-index: 100;
  position: relative;
}
.header > nav.header__account > div:hover::before {
  position: absolute;
  content: '';
  background-color: var(--color-bg-gray);
  padding-right: 12px;
  width: 100%;
  height: 50px;
  z-index: 0;
  border-radius: 8px;
  cursor: pointer;
}

.header > nav.header__account > div > img {
  max-width: 50px;
  clip-path: circle();
  z-index: 1;
}

.header > nav.header__account > div > li {
  margin-right: 8px;
  z-index: 1;
}
.header > nav.header__account > div > svg {
  z-index: 1;
}
section.actualizacion__container {
  max-width: 900px;
  padding: 48px;
}
section.actualizacion__container > div.actualizacion__container__header {
  margin-bottom: 20px;
}
section.actualizacion__container > div.actualizacion__container__header > h2 {
  margin-bottom: 8px;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
}
section.actualizacion__container > div.actualizacion__container__header > p {
  color: #727272;
  font-weight: 300;
}
section.actualizacion__container > div.actualizacion__container__form__wrapper {
  background-color: var(--color-white);
  border-radius: 8px;
  min-height: 500px;
  border: 1px solid #d5d4d4;
}

section.actualizacion__container > div.action__buttons {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  justify-content: end;
}
.btn {
  padding: 8px 24px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}
button.btn--secondary {
  background-color: transparent;
  border: 1px solid var(--color-red);
  color: var(--color-red);
  transition: 0.2s all;
}
button.btn--secondary:hover {
  background-color: var(--color-red-transparent);
  transition: 0.2s all;
  cursor: pointer;
}

#actualizarBtn {
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid var(--color-black);
  transition: 0.12s all;
}

#actualizarBtn:hover {
  background-color: var(--color-transparent);
  border: 1px solid var(--color-black);
  color: var(--color-black);
  transition: 0.12s all;
  cursor: pointer;
}

div.actualizacion__container__form__wrapper {
  padding: 36px;
}
div.actualizacion__container__form__wrapper
  > form
  > fieldset.input__field__group {
  display: flex;
  gap: 20px;
}

div.actualizacion__container__form__wrapper div.input__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
fieldset {
  border: none;
  margin-bottom: 24px;
}
.input {
  height: 42px;
  padding: 0px 12px;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
}
select {
  appearance: none;
}
select:focus {
  outline: none;
}
select:optional {
  font-size: 14px;
  padding: 0px 8px;
  color: var(--color-text-gray);
}
.required__field {
  color: var(--color-red);
  margin-left: 4px;
}
.error {
  display: block;
  color: var(--color-red);
  font-size: 14px;
  display: none;
}
.input__group__double {
  display: flex;
  flex-direction: column;
  width: 49%;
  gap: 8px;
}
.input__group__flex {
  display: flex;
  flex-direction: row !important;
}
input:focus {
  outline: none;
}
input {
  color: var(--color-black);
}
.form__section__title {
  font-size: 16px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 8px;
}
.input__field__publicidad section {
  min-width: 100%;
}
.form__section__header {
  margin-bottom: 12px;
}
.form__section__checkbox {
  display: flex;
  gap: 24px;
}
.form__section__checkbox div {
  display: flex;
  gap: 6px;
  align-items: center;
}
.form__section__checkbox div label {
  line-height: 1.2;
}
